#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

 .styles {
  color: "pink";
  display: "inline-block";

}

.styles2 {
  align: "right";
}

.largeInput {
  width: "10em";
  height: "10em";
  text-align: "bottom";
  background-color: "pink";
  color: "black";
  text-align: "left";
  vertical-align: "top";
  padding: "2px, 2px";
  margin: "2px, 2px";

}

.styles4 {
  color: "pink";
}


