#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.largeInput {
  width: "10em";
  height: "10em";
  text-align: "bottom";
  background-color: "pink";
  color: "black";
  text-align: "left";
  vertical-align: "top";
  padding: "2px, 2px";
  margin: "2px, 2px";

}


#inputform {
  text-align: center;
  display: inline-block;
  background-color: rgba(23, 77, 89, 0.5);
  border-radius: 10px;
  font-weight: bold;
  padding: 5vw;
}
::placeholder {
  color: rgb(200, 200, 200);
}
input {
  background-color: rgba(59, 134, 174, 0.69);
  border-style: groove;
  
}

textarea {
  background-color: rgba(59, 134, 174, 0.69);
  border-style: groove;
}

#pleaseComplete {
  color: rgb(187, 110, 129);
  text-shadow: 4px 1px 5px rgb(52, 14, 14);
  background-color: rgba(13, 44, 52, 0.5);
}